<div class="container">
	<div class="navbar navbar-default nav-header">
		<div class="col-xs-3 col-md-2 header-left"> <button type="button" class="btn btn-ppc btn-sm nav-button" ng-click="goBack()"><span class="glyphicon glyphicon-arrow-left"></span></button></div>
		<div class="col-xs-6 col-md-8 header-center"> 
			<p class="nav-title">Barack Obama</p> 
			<p class="nav-title-resp">Barack Obama</p>
		</div>
		<div class="col-xs-3 col-md-2 header-right"> <button type="button" class="thumbnail pull-right nav-logo" ng-click="showLogo()"><img src="img/logo_x.jpg" class="img-responsive img-logox" alt="Barack Obama"></button> </div>
	</div>
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-sl">
			<div class="panel-heading"></div>
			<div class="panel-body">
				<p><strong>Categoria: </strong>{{d_proposal.category.name}}</p>
				<div ng-show="entity!='proposal'">
					<p><strong>Autor: </strong>{{d_proposal.author}}</p>
					<p><strong>Urbanizacion: </strong> {{d_proposal.urbanization}}</p>
				</div>
				<p class="detail-proposal">{{d_proposal.description}}</p>
				<br>
				<div class="col-md-10 col-md-offset-1">
				<a href="" class="thumbnail" ng-click="like(d_proposal)"><img src="img/like.png" class="img-responsive img-like" alt="Me gusta"></a>
				<p class="text-center">{{d_proposal.likes}}</p>
				</div>
			</div>
		</div>
	</div>
</div>