<div class="home">
	<div class="container">
		<h2 class="text-center">BARACK OBAMA</h2>
		<ul class="menu">
			<li>
				<!-- <div class="home-slider">
				<img src="img/intro/photo.jpg">
				<img src="img/intro/logo.jpg">
				</div> --> 
				<carousel interval="myInterval"> 
					<slide ng-repeat="slide in slides" active="slide.active"> 
					<img ng-src="{{slide.image}}" style="margin: auto;"> 
					</slide> 
				</carousel>

			</li>
			<li><a class="btn btn-ppc-home btn-lg btn-block"
				href="#/propuestas/partido">Propuestas Obama</a></li>
			<li><a class="btn btn-ppc-home btn-lg btn-block"
				href="#/propuestas/tuspropuestas">Tus Propuestas</a></li>
			<li class="sn">
				<div class="col-md-4 col-sm-4 col-xs-4 text-right">
					<button class="btn btn-facebook" ng-click="goSN(1)">
						<i class="fa fa-facebook sn-icon"></i>
					</button>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 text-center">
					<button class="btn btn-youtube">
						<i class="fa fa-youtube sn-icon"></i>
					</button>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 text-left">
					<button class="btn btn-sn-ppc">
						<i class="fa fa-university sn-icon"></i>
					</button>
				</div>
			</li>
		</ul>

	</div>
</div>