<div class="spinner-container" ng-show="spinner==1">
	<div class="spinner">
	  <div class="rect1"></div>
	  <div class="rect2"></div>
	  <div class="rect3"></div>
	  <div class="rect4"></div>
	  <div class="rect5"></div>
	</div>
</div>
<div class="container">
	<div class="proposal-container">
		<div class="navbar navbar-default nav-header" id="top">
			<div class="col-xs-3 col-md-2 header-left"> <a href="#/bienvenido" class="btn btn-ppc btn-sm nav-button"><span class="glyphicon glyphicon-arrow-left"></span></a></div>
			<div class="col-xs-6 col-md-8 header-center"> 
				<p class="nav-title">Barack Obama</p> 
				<p class="nav-title-resp">Barack Obama</p>
			</div>
			<div class="col-xs-3 col-md-2 header-right"> <button type="button" class="thumbnail pull-right nav-logo" ng-click="showLogo()"><img src="img/logo_x.jpg" class="img-responsive img-logox" alt="Solidaridad Nacional"></button> </div>
		</div>
		<p class="description-prop" ng-show="entity=='proposal'">Estas son nuestras propuestas para nuestro país</p>
		<div class="row">
			<div class="col-xs-10 col-md-6 col-md-offset-3 col-xs-offset-1" ng-show="entity!='proposal'">
				<a href="#/formulario" class="btn btn-lg btn-warning btn-porposal-ppc btn-block" > Haz tu propuesta</a>
			</div>
		</div>
		
		<div class="navbar navbar-default filter-bar">
		 	<form class="form-horizontal">
		 		<div class="form-group filter">
		 			<div class="col-xs-6 col-sm-6 col-md-3 col-md-offset-3 filter-category">
		 				<label class="control-label" for="category">Seleccione Categoria</label>
		 			</div>
					<div class="col-xs-6 col-sm-4 col-md-3 filter-category">
						<select ng-model="category" ng-options="category.id as category.name for category in categories" ng-change="changeCategory(category)" id="category" class="form-control">
							<option value="">Todas</option>
						</select>
					</div>
				</div>
		 	</form>
		</div>
		<br>
		<p class="description-prop" ng-show=" (!maxResults || maxResults < 1) && spinner == 0 "> Por el momento no existen propuestas de esta categoria.</p>
		<table class="table table-bordered table-proposals">
				<tbody>
					<tr class="column-porposal" ng-repeat="(id,proposal) in proposals">
						<td style="vertical-align: middle;">
							<p><strong>Categoria: </strong>{{proposal.category.name}}</p>
							<div ng-show="entity!='proposal'">
								<p ng-show="proposal.author!='Anónimo'"><strong>Autor: </strong>{{proposal.author}}</p>
								<p ng-show="proposal.urbanization!=''"><strong>Urbanizacion: </strong> {{proposal.urbanization}}</p>
							</div>
							{{proposal.description | limitTo:400 }} <strong ng-show="proposal.description.length > 400">...</strong> <br>
							<button id="show-more" ng-click="detailPorposal(proposal)" ng-show="proposal.description.length > 400" class="btn btn-ppc btn-sm pull-right">Ver más</button>
						</td>
						<td style="vertical-align: middle;min-width: 60px;max-width: 80px;">
							<a href="" class="thumbnail" ng-click="like(proposal)"><img src="img/like.png" class="img-responsive img-like" alt="Me gusta"></a>
							<p class="text-center">{{proposal.likes}}</p>
						</td>
					</tr>
				</tbody>
		</table>
		<!-- WEB -->
		<!-- <pagination ng-show="maxResults != -1"  boundary-links="true" items-per-page="pageSize" total-items="maxResults" page="pageNumber" 
		on-select-page="pageChanged(page)" first-text="&laquo;" last-text="&raquo;" next-text="Siguiente" previous-text="Anterior" max-size="5" rotate="false"></pagination> -->
		
		<!-- MOBILE -->
		<div ng-show="maxResults > 3">
			<pager class="page-footer" ng-show="maxResults != -1" items-per-page="pageSize" total-items="maxResults" page="pageNumber" 
			previous-text="« Anterior" next-text="Siguiente »" on-select-page="pageChanged(page)"></pager>
			<div class="page-center">
			<pagination class="page-footer" ng-show="maxResults != -1" items-per-page="pageSize" total-items="maxResults" page="pageNumber" 
			on-select-page="pageChanged(page)" direction-links="false" max-size="6" rotate="false"></pagination>
			</div>
		</div>
	</div>
</div>